<a href="https://colab.research.google.com/github/FawadAli1122/PIAIC-Q2-Assignments/blob/main/Car_Problem_solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files 

uploaded = files.upload()

Saving CarPrice_Assignment.csv to CarPrice_Assignment.csv

In [2]:
import pandas as pd
dataframe = pd.read_csv('CarPrice_Assignment.csv')

In [3]:
dataframe.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [4]:
dataframe.isnull().any().any()

False

In [5]:
dataframe.shape

(205, 26)

In [6]:

dataframe.head().T

                                   0  ...           4
car_ID                             1  ...           5
symboling                          3  ...           2
CarName           alfa-romero giulia  ...  audi 100ls
fueltype                         gas  ...         gas
aspiration                       std  ...         std
doornumber                       two  ...        four
carbody                  convertible  ...       sedan
drivewheel                       rwd  ...         4wd
enginelocation                 front  ...       front
wheelbase                       88.6  ...        99.4
carlength                      168.8  ...       176.6
carwidth                        64.1  ...        66.4
carheight                       48.8  ...        54.3
curbweight                      2548  ...        2824
enginetype                      dohc  ...         ohc
cylindernumber                  four  ...        five
enginesize                       130  ...         136
fuelsystem                      mpfi  ...        mpfi
boreratio                       3.47  ...        3.19
stroke                          2.68  ...         3.4
compressionratio                   9  ...           8
horsepower                       111  ...         115
peakrpm                         5000  ...        5500
citympg                           21  ...          18
highwaympg                        27  ...          22
price                          13495  ...       17450

[26 rows x 5 columns]

In [22]:

# Concatenating all categorical features

#categoricals = pd.concat((dataframe.iloc[:,2:9], dataframe.iloc[:,14:16], dataframe.iloc[:,17]),axis = 1)
# subset all categorical variables
cars_categorical = dataframe.select_dtypes(include=['object'])
cars_categorical

                      CarName fueltype  ... cylindernumber fuelsystem
0          alfa-romero giulia      gas  ...           four       mpfi
1         alfa-romero stelvio      gas  ...           four       mpfi
2    alfa-romero Quadrifoglio      gas  ...            six       mpfi
3                 audi 100 ls      gas  ...           four       mpfi
4                  audi 100ls      gas  ...           five       mpfi
..                        ...      ...  ...            ...        ...
200           volvo 145e (sw)      gas  ...           four       mpfi
201               volvo 144ea      gas  ...           four       mpfi
202               volvo 244dl      gas  ...            six       mpfi
203                 volvo 246   diesel  ...            six        idi
204               volvo 264gl      gas  ...           four       mpfi

[205 rows x 10 columns]

In [23]:
pd.get_dummies(cars_categorical)

     CarName_Nissan versa  ...  fuelsystem_spfi
0                       0  ...                0
1                       0  ...                0
2                       0  ...                0
3                       0  ...                0
4                       0  ...                0
..                    ...  ...              ...
200                     0  ...                0
201                     0  ...                0
202                     0  ...                0
203                     0  ...                0
204                     0  ...                0

[205 rows x 185 columns]

In [9]:
target_prices = dataframe['price']
dataframe2 = dataframe.drop(['car_ID' , 'price'] , axis = 1)

In [10]:
train_data = dataframe2.sample(frac=0.7, random_state=0)
test_data = dataframe2.drop(train_data.index)
train_prices = target_prices.sample(frac=0.7, random_state=0)
test_prices = target_prices.drop(train_prices.index)
train_data.shape

(144, 24)

In [13]:
# Splitting data first  (dataframe 2 is all of our data)

#train_len = len(dataframe2)*7//10
#test_len = len(dataframe2) - train_len

#train_data = dataframe2[0 : train_len].copy()
#test_data = dataframe2[train_len : train_len + test_len].copy()

#train_prices = target_prices[0 : train_len].copy()
#test_prices = target_prices[train_len : train_len + test_len].copy()

#train_data.shape

In [11]:
train_numerical = train_data.select_dtypes(include=['float64','int64'])
train_numerical.head()

     symboling  wheelbase  carlength  ...  peakrpm  citympg  highwaympg
52           1       93.1      159.1  ...     5000       31          38
181         -1      104.5      187.8  ...     5200       19          24
5            2       99.8      177.3  ...     5500       19          25
18           2       88.4      141.1  ...     5100       47          53
188          2       97.3      171.7  ...     5500       26          32

[5 rows x 14 columns]

In [18]:
test_numerical = test_data.select_dtypes(include=['float64','int64'])
test_numerical.head()

    symboling  wheelbase  carlength  ...   peakrpm   citympg  highwaympg
1    1.831974  -1.730171  -0.431398  ... -0.210437 -0.681223   -0.577648
9   -0.754342   0.133583   0.341930  ...  0.920270 -1.416576   -1.271982
17  -0.754342   1.928944   1.888587  ...  0.694128 -1.563647   -1.549716
21   0.107763  -0.858139  -1.377491  ...  0.920270  1.671907    1.366489
25   0.107763  -0.858139  -1.377491  ...  0.920270  0.789483    0.949888

[5 rows x 14 columns]

In [17]:
#import numpy as np
#mean = np.mean(train_numerical, axis = 0)
#std = np.std(train_numerical, axis = 0)

#train_numerical -= mean
#train_numerical /= std

#test_numerical -= mean
#test_numerical /= std

In [19]:
import numpy as np

num_train_data = train_data.drop(cars_categorical.columns, axis = 1)
num_test_data = test_data.drop(cars_categorical.columns, axis = 1)

mean = np.mean(num_train_data, axis = 0)
std = np.std(num_train_data, axis = 0)

num_train_data -= mean
num_train_data /= std

num_test_data -= mean
num_test_data /= std

train_data[num_train_data.columns] = num_train_data
test_data[num_train_data.columns] = num_test_data

normalized_data = pd.concat((train_data, test_data))

In [20]:
normalized_data.head()

     symboling            CarName fueltype  ...   peakrpm   citympg highwaympg
52    0.107763    mazda rx2 coupe      gas  ... -0.210437  0.789483   0.949888
181  -1.616448     toyouta tercel      gas  ...  0.241846 -0.975364  -0.994248
5     0.969869           audi fox      gas  ...  0.920270 -0.975364  -0.855381
18    0.969869   chevrolet impala      gas  ...  0.015704  3.142613   3.032891
188   0.969869  volkswagen dasher      gas  ...  0.920270  0.054130   0.116687

[5 rows x 24 columns]

In [24]:
data_fin = pd.get_dummies(normalized_data, columns = cars_categorical.columns)

In [26]:
data_fin.head()

     symboling  wheelbase  ...  fuelsystem_spdi  fuelsystem_spfi
52    0.107763  -0.960731  ...                0                0
181  -1.616448   0.988517  ...                0                0
5     0.969869   0.184879  ...                0                0
18    0.969869  -1.764369  ...                0                0
188   0.969869  -0.242587  ...                0                0

[5 rows x 199 columns]

In [27]:
train_data = data_fin.sample(frac=0.7, random_state=0)
test_data = data_fin.drop(train_data.index)
train_prices = target_prices.sample(frac=0.7, random_state=0)
test_prices = target_prices.drop(train_prices.index)
train_data.shape

(144, 199)

In [28]:
#train_data_fin = data_fin[0 : train_len].copy()
#test_data_fin = data_fin[train_len : train_len + test_len].copy()

#train_data_fin.shape , test_data_fin.shape


#train_data.shape , test_data.shape , train_prices.shape, test_prices.shape

In [31]:
# Now making a model:

from keras import models, layers, regularizers

def build_model():
  model = models.Sequential()
  
  model.add(layers.Dense(10, activation = 'relu', kernel_regularizer = regularizers.l2(0.001), input_shape = (199,)))
  model.add(layers.Dropout(0.3))
  model.add(layers.Dense(8, activation = 'relu', kernel_regularizer = regularizers.l2(0.001)))
  model.add(layers.Dropout(0.3))
  model.add(layers.Dense(6, activation = 'relu', kernel_regularizer = regularizers.l2(0.001)))
  model.add(layers.Dropout(0.3))
  
  model.add(layers.Dense(1))


  model.compile(optimizer = 'rmsprop', loss = 'mse', metrics = ['mae'])
  return model

In [32]:
model = build_model()
model.fit(train_data, train_prices,
          epochs = 100, batch_size = 8, verbose = 0)

test_mse , test_mae = model.evaluate(test_data, test_prices)

test_mae

2/2 [==============================] - 0s 6ms/step - loss: 100288224.0000 - mae: 6684.7427

6684.74267578125